.item {
    height: 500px;
    width: 500px;
    background-size: cover;
    margin: 10px;
}

.itemMain {
    height: 500px;
    width: 500px;
    display: flex;
}
.itemName {
    justify-content: center;
    align-self: flex-end;
}

.itemSynopsis {
    justify-content: center;
    align-self: flex-end;
}

.itemDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    height: 100%;
    width: 100%;
}

.itemDescription > div {
    background-color: white;
    height: 90%;
    width: 90%;
    text-align: center;
}

.itemDescription:hover {
    opacity: 0.80;
    transition-duration: 1s;
}