#loginAndSignup {
    display: flex;
    justify-content: center;
}

#loginAndSignup input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(132, 141, 132);
    padding-left: 5px;
    padding-bottom: 5px;
    margin: 10px 10px 20px 5px;
    transition: 200ms ease-out;
    display: block;
}

#loginAndSignup input[type="checkbox"] {
    display: inline-block;
    margin: 0px 10px 10px 5px;
}

#loginAndSignup input[type="text"]:focus, #loginAndSignup input[type="password"]:focus {
    outline: transparent;
    border-color: #9191d5;
    border-width: 3px;
    margin-bottom: 18px;
}

.login-backdrop {
    background-image: linear-gradient(to top, rgba(140,157,173, 1),  rgba(175, 145, 145 ,.5),  rgba(236,243,236,1), rgba(236,243,236,1)); 
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 2;
    overflow-x: hidden;
}

.login-backdrop button {
    background-color: transparent;
    border: none;
}

.login-btn {
    color: rgba(73, 64, 64, .5);
    cursor: pointer;
}

#loginAndSignup {
    margin-top: 40px;
}

.login-link {
    padding: 10px;
    font-family: 'Italiana', 'Cinzel', 'Garamond', serif;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    color: rgb(73, 64, 64);
    cursor: pointer
}

.login-link:hover {
    color: goldenrod
}

.login-link-divider {
    cursor: default
}

.login-text {
    font-family: 'Italiana', 'Cinzel', 'Garamond', serif;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    color: rgb(73, 64, 64);
    margin-top: 10px;
    margin-left: 15px;
}

.checkbox {
    margin-left: 50px;
}

.login-td {
    padding-left: 10px;
}

.chevrons {
    text-align: center;
    margin: 20px;
}

.chevrons button {
    margin: 40px 40px 0px 40px;
}

/* 
/   CONFIRM PASSWORD STYLES
*/
.error {
    border-color: #cd3236!important;
}

.noError {
    border-color: #7ed685!important;
}


/* 
/   LOGIN FORM
*/
#loginForm {
    display: flex;
    flex-direction: column;
}


/* 
/   SIGNUP FORM
*/
#signupForm {
    display: flex;
    flex-direction: column; 
}

#signupForm input {
    font-family: "Italiana";
    font-size: 0.7rem;
    letter-spacing: 0.1em;
    color: rgb(73, 64, 64);
}

#signupForm .checkbox {
    display: flex;
    align-items: center;
}

.checkbox input {
    margin: 10px!important;
}

/* 
/   QUIZ DIV
*/
.quizDiv {
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quiz {
    width: 70%;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}




/* 
/   KEYFRAMES & ANIMATIONS
*/
/* SLIDE OUT */
.slideOutRight {
    position: relative;
    overflow: hidden;
    animation: slideOutRight 1s;
}

@keyframes slideOutRight {
    from { 
        left: 0;
        opacity: 1;
    }
    to {
        left: 100%;
        opacity: 0;
    }
}

.slideOutLeft {
    position: relative;
    overflow: hidden;
    animation: slideOutLeft 1s;
}

@keyframes slideOutLeft {
    from {
        right: 0;
        opacity: 1;
    }
    to {
        right: 100%;
        opacity: 0;
    }
}

/* SLIDE IN */
.slideInRight {
    position: relative;
    overflow: hidden;
    animation: slideInRight 300ms;
}

@keyframes slideInRight {
    from { 
        left: -100%;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

.slideInLeft {
    position: relative;
    overflow: hidden;
    animation: slideInLeft 300ms;
}

@keyframes slideInLeft {
    from {
        right: -100%;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}