.items {
  display: flex;
  justify-content: space-between;
  width: auto;
  flex-wrap: wrap;
  padding: 50px;
}

.item {
  display: flex;
  box-shadow: 0 3px 6px rgba(175, 145, 145,0.16), 0 3px 6px rgba(175, 145, 145, 0.23);
  border: 6px solid white;
  height: 400px;
  width: 400px;
  background-size: cover;
  margin: 10px;
}

.itemDetails {
  justify-content: center;
  align-content: center;
  text-align: center;
  opacity: 0;
  height: 100%;
  width: 100%;
}

.itemDetails > div {
  background-color: white;
  height: 90%;
  width: 90%;
  
}

.itemDetails:hover {
  opacity: 0.80;
  transition-duration: 1s;
}

