
.brand-div {
  font-family: 'Italiana', 'Cinzel', 'Garamond', serif;
  font-size: 5em;
  color: rgb(73, 64, 64);
  letter-spacing: 0.25em;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
  cursor: default
}


.brandStatementText {
  font-family: "cormorant";
  color: rgb(73, 64, 64);
  text-align: justify;
  font-size: 1.2rem;
}

.brandStatementSubtext {
  font-family: "cormorant";
  color: rgb(73, 64, 64);
  text-align: justify;
  font-size: 1rem;
}