.libraDashboard {
    display: flex;
}

.libraRemedies {
    width: 50vw;
    box-shadow: 0 2px 20px rgba(255, 255, 255, 0.8); 
    background-color: white;
    margin: 20px;
    border: solid 2px;
    border-color: rgba(175, 145, 145, 0.4);
}

.libraElements {
    width: 50vw;
    box-shadow: 0 2px 20px rgba(255, 255, 255, 0.8); 
    background-color: white;
    margin: 20px;
    border: solid 2px;
    border-color: rgba(175, 145, 145 , 0.3);
}

@media only screen and (max-width: 768px) {
    .libraRemedies {
        width: 100%;
        margin: 0;
    }
    
    .libraElements {
        width: 100%;
        margin: 0;
    }


}