.libra-div {
  width: 100%;
}

.libraSectionTitle{
  font-family: "Italiana";
  color: rgb(73, 64, 64);
  letter-spacing: 0.1em;
  margin: 0px;
  padding: 20px;
  border-bottom: solid 1px;
  border-bottom-color: rgba(175, 145, 145, 0.4);
  background-color: rgba(175, 145, 145 , 0.3);
}
