@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');

.libraDiv {
  border: solid 2px;
  border-color:  rgba(139,142,82, 0.5);
  display: flex;
  background: white;
  box-shadow: 0 2px 20px rgba(255, 255, 255, 0.8); 
  
}

@media only screen and (max-width: 1200px) {
  .libraDiv {
    flex-wrap: wrap;
  }

  .libraSymbol {
    margin: 30px 10px 0px 50px;
  }

}

.libraTable {
  display: flex;
  margin: 50px;
}

.libraTableCategory {
  font-family: "Cormorant";
  color: rgb(73, 64, 64);
  letter-spacing: 0.1em;
  font-size: 1.7rem;
  margin: 0;
  padding: 10px;
  text-align: right;
  border-right: 1px solid;
  border-color: rgba(175, 145, 145, 0.3);
  background: none;
}

.libraTableText {
  font-family: "Cormorant";
  color: rgb(73, 64, 64);
  letter-spacing: 0.1em;
  font-size: 1.7rem;
  margin: 0;
  padding: 10px;

}

.libraSymbol {
  font-family: "Roboto", sans-serif;
  font-size: 15rem;
  color: rgba(73, 64, 64, 0.3);
  padding: 0 10px;
  width: 200px;
  margin: 30px 10px 30px 50px;
  background-color: rgba(175, 145, 145, 0.1);
  text-align: center;
}

.libraTableCategories {
  width: 200px;
}

.libraTableResults {
  width: 250px;
}

.libraImage {
  background-image: url('/assets/images/libra/mortar.png');
  background-size: cover;
  height: 250px;
  width: 250px;
  margin: 20px 20px 20px 50px;
}

.libraMainTitle{
  font-family: "Italiana";
  color: rgb(73, 64, 64);
  letter-spacing: 0.1em;
  margin: 0px;
  padding: 20px;
  border: solid 1px;
  border-color: rgba(139,142,82, 0.5);
  background-color: rgba(139,142,82, 0.5);
}

.libraSectionTitle{
  font-family: "Italiana";
  color: rgb(73, 64, 64);
  letter-spacing: 0.1em;
  margin: 0px;
  padding: 20px;
  border-bottom: solid 1px;
  border-bottom-color: rgba(175, 145, 145, 0.4);
  background-color: rgba(175, 145, 145 , 0.3);
}


.libraOverview {
  margin: 50px;
}

.libraOverviewText {
  font-family: "Cormorant";
  color: rgb(73, 64, 64);
  letter-spacing: 0.1em;
  font-size: 1.7rem;
  margin: 0;
  padding: 10px;
  text-align: justify;
}